aiofiles==0.8.0
aiogram==2.18
aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.7.7
altgraph==0.17.2
aniso8601==9.0.1
anyio==3.6.1
APScheduler==3.9.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
async-generator==1.10
async-timeout==4.0.2
asyncio==3.4.3
asyncpg==0.25.0
attrs==21.4.0
autopep8==1.6.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.10.0
bitrix24-python-sdk==1.0.1
black==22.3.0
bleach==5.0.0
bs4==0.0.1
cachetools==5.0.0
certifi==2022.5.18.1
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
choicelib==0.1.5
click==8.1.3
colorama==0.4.4
cryptography==36.0.1
cycler==0.11.0
debugpy==1.5.0
decompyle3==3.7.6
decorator==5.1.0
defusedxml==0.7.1
dicttoxml==1.7.4
discord==1.7.3
discord.py==1.7.3
distlib==0.3.4
Django==4.0.4
djlint==1.1.1
docopt==0.6.2
dota2==1.1.0
entrypoints==0.3
fastjsonschema==2.15.3
filelock==3.7.0
Flask==2.1.0
Flask-Login==0.5.0
Flask-Migrate==3.1.0
flask-ngrok==0.0.25
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
fonttools==4.33.3
frozenlist==1.3.0
future==0.18.2
gevent==21.12.0
gevent-eventemitter==2.1
greenlet==1.1.2
h11==0.13.0
html-tag-names==0.1.2
html-void-elements==0.1.0
HTMLParser==0.0.2
idna==3.3
importlib-metadata==4.11.3
ipycytoscape==1.3.3
ipykernel==6.4.1
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
itsdangerous==2.1.2
jedi==0.18.0
Jinja2==3.1.2
jsonschema==4.5.0
jupyter-client==7.0.6
jupyter-core==4.8.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
kiwisolver==1.4.2
Mako==1.2.0
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mistune==0.8.4
mpmath==1.2.1
multidict==6.0.2
multidimensional-urlencode==0.0.4
mypy-extensions==0.4.3
nbclient==0.6.2
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.1
networkx==2.8
notebook==6.4.11
numpy==1.22.3
outcome==1.1.0
packaging==21.3
pandocfilters==1.5.0
parso==0.8.2
pathspec==0.9.0
pefile==2021.9.3
pickleshare==0.7.5
Pillow==9.1.0
pipreqs==0.4.11
platformdirs==2.5.2
prometheus-client==0.14.1
prompt-toolkit==3.0.20
protobuf==3.19.4
psycopg2==2.9.3
pyaes==1.6.1
pyasn1==0.4.8
pycodestyle==2.8.0
pycparser==2.21
pycryptodomex==3.14.1
pydantic==1.9.1
pygame==2.0.2
Pygments==2.10.0
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.5
pyOpenSSL==21.0.0
pyparsing==3.0.8
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyrsistent==0.18.1
pyTelegramBotAPI==4.5.1
python-dateutil==2.8.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pywin32==301
pywin32-ctypes==0.2.0
pywinpty==2.0.5
PyYAML==6.0
pyzmq==22.3.0
qrcode==7.3.1
regex==2022.4.24
reqs==0.0.2
requests==2.27.1
rsa==4.8
selenium==4.1.0
Send2Trash==1.8.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
spark-parser==1.8.9
spectate==1.0.1
SQLAlchemy==1.4.36
sqlparse==0.4.2
steam==1.2.0
sympy==1.9
Telethon==1.24.0
terminado==0.13.3
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
tornado==6.1
tqdm==4.64.0
traitlets==5.1.0
trio==0.19.0
trio-websocket==0.9.2
typing_extensions==4.3.0
tzdata==2022.1
tzlocal==4.2
uncompyle6==3.7.4
urllib3==1.26.9
vbml==1.1.post1
vdf==3.4
virtualenv==20.14.1
vkbottle==4.3.5
vkbottle-types==5.131.146.7
watchfiles==0.14.1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.1.2
widgetsnbextension==3.6.0
wsproto==1.0.0
WTForms==2.3.3
xdis==5.0.13
XlsxWriter==3.0.3
yarg==0.1.9
yarl==1.7.2
zipp==3.8.0
zope.event==4.5.0
zope.interface==5.4.0
